@import "tailwindcss";
@tailwind utilities;
@tailwind utilities;


.no-scrollbar::-webkit-scrollbar {
    display: none;
}

@keyframes popUp {
    from {
        transform: scale(60%);
    } to {
        transform: scale(100%);
    }
}